<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="muffsandchocss.com.mandc">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/mandc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterUserActivity"
            android:label="@string/title_activity_register_user" />
        <activity
            android:name=".UpdateUserProfileActivity"
            android:label="@string/title_activity_update_user_profile" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/muffs_and_chocss"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>